
  @import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


  .input-form>.form-group>.form-control:focus,
  .cus-input:focus {
      border-color: #fd8032;
  }

  .input-form>.form-group>.form-control,
  .cus-input {
      border-radius: 0;
      height: 40px;
      background: #FFECE0;
      border: 1;
  }

  .input-form>.form-group>.form-control:focus,
  {
    background: #FD8032;
  }



  .form-holder {
      margin-top: 20px;
  }

 .intro {
      color: #25313F;
      margin-bottom: 30px;
      margin-top: 20px;
      font-weight: bold;
      font-size: 25px;
  }

  .input-form>.form-group>label {
      color: #25313F;
  }

  .input-form>.form-group {
      text-align: left;
      margin-bottom: 20px;
  }

  .input-form {
      text-align: center;
      margin-top: 20px;
  }

  .input-form>.form-group>button {
      background: #FF6200;
      padding: 8px 40px;
      border-radius: 63px;
      border-color: #FF6200;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
  }

  .form-group>button:hover,
  .form-group>button:focus {
      background: rgb(252, 251, 250);
      color: #FD8032;
      border-color: #FD8032;
      border-width: 2px;
  }

  .form-group>label{
      color:#555;
  }

