@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
body {
font-family: "Nunito Sans";
}

nav {
border-radius: 0 !important;
}

.active-sidebar {
background-color: #39689C;
}

.nav-search {
margin-right: auto;
margin-left: auto;
}

.navbar-brand {
font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 20px;
color: #00aeff !important;
}

.navbar-header img {
width: 150px;
height: 40px;
margin-top: 10px;
}
#navbar li a {
color:#000000;
}
#navbar li a:hover {
color:#00aeff; 
}

#sidebar {
/* margin: 0 !important; */
text-align: left;
border-right: 1px solid rgb(192, 190, 190);
margin-top: 0px;
padding: 0;
}

.navbar {
height: 60px;
background: #FFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main {
  margin-top: 60px;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
#navbar li a {
  color: #000000;
}
#navbar li:hover a{
  color: #00aeff;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 18px;
  font-family: "Nunito Sans";
  padding-left: 20px;
  color: #25313F;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #39689C;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
